.home-header, .post-header {
	background-color: $white;
	box-shadow: 0 4px 2px -2px $gray-lightest;
	padding: 20px 0 0;

	h1 {
		margin: 0 0 10px;
		font-weight: bold;
		color: $gray-darker;

		a {
			color: $gray-darker;

			&:hover {
				text-decoration: none;
			}
		}
	}

	p {
		color: $gray;
	}

	nav {
		margin-top: 20px;

		ul {
			margin-bottom: 0;
		}

		li {
			margin-right: 15px;
		}

		a {
			display: block;
			text-transform: uppercase;
			font-weight: 500;
			padding: 10px 5px;
			border-bottom: 3px solid transparent;

			&:hover, &.active, &:focus {
				text-decoration: none;
			}
			&:hover, &.active {
				border-bottom-color: $brand-primary;
			}
		}
	}

	.nomenu {
		margin-top: 20px;
	}
}

.post-info {
	color: $gray-light;
	text-transform: uppercase;
	vertical-align: top;
	letter-spacing: 1px;
	font-size: $font-size-base * 0.9;
}

.separator {
	margin: 0 5px;
	color: $gray-lighter;
}

footer {
	@extend .text-center;
	@extend .small;
	margin: 40px 0 20px;

	.social svg {
		max-width: 24px;
		max-height: 24px;
		margin: 0 5px;
	}

	a {
		color: $gray-light;

		.social-icon, .social-icon path, .social-icon polygon {
			fill: $gray;
			transition: fill 0.5s;
		}

		.social-icon.dribbble.fill1 {
			fill: $gray-lighter;
		}

		.gitlab path {
			fill: $gray;
		}

		&:hover {
			.twitter { fill: #1da1f2; }
			.facebook { fill: #3c5a99; }
			.linkedin { fill: #006699; }
			.github { fill: #000000; }
			.bitbucket { fill: #205081; }
			.behance { fill: #1769ff; }
			.soundcloud path { fill: #ff5500; }
			.youtube { fill: #e02f2f; }
			.vimeo { fill: #01ADEE; }
			.pinterest { fill: #CB1F27; }
			.instagram { fill: #d93175; }
			.google-plus {
				path, polygon {
					fill: #dc4d40;
				}
			}

			.gitlab {
				.fill1 { fill: #E24329; }
				.fill2 { fill: #FC6D26; }
				.fill3 { fill: #FCA326; }
			}
			.dribbble.fill1 { fill: #E74D89; }
			.dribbble.fill2 { fill: #B2215A; }
		}
	}

	.social a:hover {
		text-decoration: none;
	}
}

@media screen and (max-width: $screen-xs-max) {
	.footer {
		margin-top: 20px;
	}
}