article.post {
	header {
		margin-top: 40px;

		h1 {
			font-size: $font-size-h1 * 1.1;
		}

		h2 {
			font-size: $font-size-h2 * 0.9;
			font-weight: 300;
			color: $gray;
		}
	}

	.post-content {
		h1, h2 {
			margin-top: 50px;
		}
		h3, h4, h5, h6 {
			margin-top: 40px;
		}
		h1 {
			font-size: $font-size-h2 * 1.1;
		}
		h2 {
			font-size: $font-size-h2 * 0.9;
		}
		h3 {
			font-size: $font-size-h3 * 0.85;
		}
		h4, h5, h6 {
			font-size: $font-size-h3 * 0.8;
		}

		hr {
			margin: 40px 0;
		}

		ul, ol {
			margin: 20px 0 40px;
			padding: 0;
		}

		blockquote {
			border-width: 15px;
			background: $pre-bg;
			padding: 20px 40px;
			margin: 40px 0;
			font-style: italic;
			color: $gray-darker;
			font-size: $font-size-base * 1.8;

			p {
				font-size: $font-size-base * 1.6;
			}

			p:first-child {
				margin-top: 0;
			}

			code {
				font-style: normal;
				font-size: $font-size-base * 1.6;
			}
		}

		p, li {
			font-size: $font-size-base * 1.5;
			line-height: 1.6;

			code {
				font-size:  $font-size-base * 1.1;
			}
		}

		p {
			margin-top: 20px;
		}

		li {
			margin-left: 20px;
			padding-left: 10px;

			ul, ol {
				margin: 10px 0 10px;
			}

			p {
				margin-top: 10px;
			}
		}

		pre {
			margin: 30px 0;
			font-size: $font-size-base;
			border-color: $gray-lightest;
			overflow-x: scroll;
			white-space: pre;

			code {
				white-space: pre;
			}
		}

		.hljs {
			background: transparent;
		}

		li {
			margin-bottom: 10px;
		}

		img {
			display: block;
			margin: 40px auto;
			max-width: 100%;

			&::after {
				content: " ";
				display: block;
			}
		}

		.img-caption {
			text-align: center;
			font-size: $font-size-small;
			color: $gray;
			margin: -30px 0 40px;
		}
	}

	.meta {
		margin: 40px 0 20px;
		padding: 20px;
		border: 1px solid $gray-lightest;
		font-size: $font-size-base;
		background-color: $pre-bg;

		.post-links {
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	.post-header {
		padding: 20px 10px 0;

		h1 {
			font-size: $font-size-h2;
		}
	}

	article.post {
		header, .post-content {
			padding: 0 10px;
			margin-top: 30px;

			h1 {
				font-size: $font-size-h1 * 0.9;
				margin-bottom: 0;
			}

			h2 {
				font-size: $font-size-h2 * 0.7;
				margin-top: 10px;
			}
		}

		.post-content {
			h1, h2 {
				margin-top: 35px;
			}
			h3, h4, h5, h6 {
				margin-top: 25px;
			}
			h1 {
				font-size: $font-size-h2;
			}
			h2 {
				font-size: $font-size-h2 * 0.9;
			}
			h3 {
				font-size: $font-size-h3 * 0.85;
			}
			h4, h5, h6 {
				font-size: $font-size-h3 * 0.8;
			}
			ul, ol {
				margin: 10px 0 20px;
			}
			p, li {
				font-size: $font-size-base * 1.2;
			}
			p {
				code {
					font-size:  $font-size-base * 0.9;
				}
			}
			hr {
				margin: 30px 0;
			}
			img {
				margin: 20px auto;
			}
			.img-caption {
				margin: -10px 0 20px;
			}
			blockquote {
				font-size: $font-size-base * 1.1;
				padding: 10px 20px;
				margin: 25px 0;
				p {
					font-size: $font-size-base * 1.1;
				}
			}
			pre {
				margin: 20px 0;
				font-size: $font-size-base * 0.9;
			}
		}

		.meta, .back, .share {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}