.panel-toolbar {
	padding: 10px 20px;
	border-bottom: 1px solid $panel-default-border;
	background-color: #f9f9f9;

	.btn {
		margin-right: 5px;
	}

	form {
		display: inline-block;
	}
}

.panel-footer-buttons {
	.text-right .btn {
		margin-left: 5px;
	}

	.text-left .btn {
		margin-right: 5px;
	}
}