$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$body-bg: #f9f9f9;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
$headings-font-weight: bold;