// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-toolbar {
	padding: 10px 20px;
	border-bottom: 1px solid $panel-default-border;
	background-color: #f9f9f9;

	.btn {
		margin-right: 5px;
	}
}

.hljs {
	padding: 0 !important;
	background: transparent !important;
}

textarea.form-control {
	font-family: $font-family-monospace;
	font-size: 13px;
}

@media screen and (max-width: $screen-xs-max) {
	textarea.form-control {
		max-height: 200px;
	}
}